<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Pushpin!</h1>
    <p>
    Thanks for joining Pushpin. To confirm your account, please
    click <%= link_to "here", @url %>.
    </p>
  </body>
</html>
