<% @user ||= current_user %>
<div class="user-info">
    <span class="username">
        <%= link_to gravatar_for(@user, size: 56), @user %>
        <h1><%= link_to @user.pinboard, @user %></h1>
    </span>
    <span class="name"><%= @user.name %></span>
    <span class="pinboard">
        <%= link_to "Pinboard profile", 
                    "https://pinboard.in/u:#{@user.pinboard}/" %>
   </span>
</div>
